@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

.page-padding {
  min-height: 100vh;
  padding: 30px;
  background-color: #242a32;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  width: 327px;
  gap: 10px;

  .header-title {
    width: 57px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ececec;
  }
}

.banner {
  position: relative;
  z-index: 0;
  width: 100vw;
  img {
    width: 100%;
    height: 210px;
    border-radius: 0px 0px 16px 16px;
  }

  .rating {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 5px;
    right: 20px;
    bottom: 20px;
    background: rgba(37, 40, 54, 0.32);
    backdrop-filter: blur(10px);
    border-radius: 8px;

    .icon-container {
      display: flex;
      align-items: center;
      height: 12px;
      width: 12px;
      svg {
        path {
          stroke: #ff8700;
        }
      }
    }

    .rating-score {
      width: 18px;
      height: 18px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.12px;
      color: #ff8700;
    }
  }
}

.single-movie-details {
  margin-top: -110px;

  .title-area {
    display: flex;
    flex: row;
    align-items: end;
    width: 327px;
    justify-content: space-between;

    .movie-poster {
      width: 100px;
      overflow: hidden;
      z-index: 99;
      img {
        width: 100%;
        border-radius: 16px;
      }
    }

    .title {
      display: flex;
      align-items: center;
      width: 200px;

      h2 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #ffffff;
      }
    }
  }

  .post-meta {
    margin-top: 20px;
    display: flex;
    color: #ececec;
    width: 327px;
    justify-content: center;
    align-items: center;

    .icon-container {
      display: flex;
      align-items: center;
      height: 18px;
      width: 18px;
      svg {
        path {
          stroke: #92929d;
        }
      }
    }

    .genres {
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #92929d;
    }

    .release-year {
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #92929d;
    }

    .movie-length {
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #92929d;
    }

    .movie-length::after,
    .release-year::after {
      content: "";
      height: 18px;
      width: 1px;
      margin: 0 10px;
      background-color: #92929d;
    }
  }

  .movie-content-container {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0;
    width: 327px;

    .content-list {
      display: flex;
      flex-direction: column;

      .tabs-container {
        position: relative;
        height: 50px;
        ul {
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          li {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 33%;
            h4 {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              display: flex;
              align-items: center;
              text-align: center;
              color: #ffffff;
            }
          }
        }
        .line {
          position: absolute;
          top: 30px;
          left: 0;
          height: 4px;
          background-color: #3a3f47;
          width: 33%;
          border-radius: 5px;
          transition: transform 0.3s ease;
        }
      }

      article.content {
        height: auto;
        width: 327px;
        p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          display: flex;
          align-items: center;
          color: #ffffff;
        }
      }

      article.reviews {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 327px;
        gap: 20px;

        .review {
          display: flex;
          align-items: start;
          justify-content: space-between;
          width: 100%;

          .user {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            .user-image {
              width: 50px;
              max-width: 50px;
              min-width: 50px;
              aspect-ratio: 1;
              img {
                width: 100%;
                border-radius: 50%;
              }
            }

            .user-rating p {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
              display: flex;
              align-items: center;
              text-align: center;
              color: #0296e5;
            }
          }

          .review-content {
            margin-left: 15px;

            h5.user-name {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
              display: flex;
              align-items: center;
              color: #ffffff;
            }
            p.review-text {
              margin: 5px 0 0;
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              color: #ffffff;
            }
          }
        }
      }

      article.cast {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 327px;
        gap: 20px;

        .cast-member {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          .cast-member-image {
            width: 120px;
            height: 120px;
            img {
              width: 100%;
              border-radius: 50%;
            }
          }

          .cast-member-name {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            color: #ffffff;
          }
        }
      }
    }
  }
}
