.results-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;
}

.search-title {
  width: 327px;

  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }
}

@media screen and (min-width: 512px) {
  .search-title {
    margin: 100px 0 40px;
  }
  .search-results {
    width: 100%;
  }
  .results-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
