<section class="categories-section">
  <div class="category-list">
    <ul>
      <li>Now playing</li>
      <li>Upcoming</li>
      <li>Top rated</li>
      <li>Popular</li>
      <li>Fantastic</li>
      <li>Horror</li>
      <li>Romance</li>
      <li>Comedy</li>
    </ul>
  </div>
  <div class="display-movies">
    <div class="movie">
      <img src="../../../assets/images/img (1).jpg" alt="" />
    </div>
    <div class="movie">
      <img src="../../../assets/images/img (2).jpg" alt="" />
    </div>
    <div class="movie">
      <img src="../../../assets/images/img (3).jpg" alt="" />
    </div>
    <div class="movie">
      <img src="../../../assets/images/img (4).jpg" alt="" />
    </div>
    <div class="movie">
      <img src="../../../assets/images/img (5).jpg" alt="" />
    </div>
    <div class="movie">
      <img src="../../../assets/images/img (6).jpg" alt="" />
    </div>
    <div class="movie">
      <img src="../../../assets/images/img (7).jpg" alt="" />
    </div>
    <div class="movie">
      <img src="../../../assets/images/img (8).jpg" alt="" />
    </div>
    <div class="movie">
      <img src="../../../assets/images/img (9).jpg" alt="" />
    </div>
    <div class="movie">
      <img src="../../../assets/images/img (10).jpg" alt="" />
    </div>
  </div>
</section>
