<section class="categories-section">
  <div class="category-list">
    <ul>
      <li (click)="onCategorySelect('now_playing')">Now playing</li>
      <li (click)="onCategorySelect('upcoming')">Upcoming</li>
      <li (click)="onCategorySelect('top_rated')">Top rated</li>
      <li (click)="onCategorySelect('popular')">Popular</li>
    </ul>
  </div>
  <div class="display-movies">
    <div class="movie" *ngFor="let movie of movies">
      <img [src]="getPosterUrl(movie.poster_path)" alt="" />
    </div>
  </div>
</section>
