<section class="categories-section">
  <div class="category-list">
    <ul>
      <li
        (click)="onCategorySelect('now_playing')"
        [ngClass]="{ active: selectedCategory === 'now_playing' }"
      >
        Now playing
      </li>
      <li
        (click)="onCategorySelect('upcoming')"
        [ngClass]="{ active: selectedCategory === 'upcoming' }"
      >
        Upcoming
      </li>
      <li
        (click)="onCategorySelect('top_rated')"
        [ngClass]="{ active: selectedCategory === 'top_rated' }"
      >
        Top rated
      </li>
      <li
        (click)="onCategorySelect('popular')"
        [ngClass]="{ active: selectedCategory === 'popular' }"
      >
        Popular
      </li>
    </ul>
  </div>
  <div *ngIf="error" class="error-message">
    <p>Error fetching movies. Please try again later.</p>
  </div>

  <div class="display-movies" *ngIf="!error">
    <app-movie-card
      *ngFor="let movie of movies$ | async"
      [movie]="movie"
      [showElement]="homePageCard"
    ></app-movie-card>
  </div>
</section>
