.page-padding {
  min-height: 100vh;
  padding: 30px;
  background-color: #242a32;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}

.home-page-title {
  width: 327px;

  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }
}
