.tabbar-visible {
  display: none;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  width: 327px;
  height: 42px;
  background: #3a3f47;
  border-radius: 16px;

  input {
    outline: none;
    border: none;
    background: #3a3f47;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: white;
    &::placeholder {
      color: #67686d;
    }
  }

  button {
    outline: none;
    border: none;
    background: #3a3f47;
    color: white;
  }
}

input:-webkit-autofill {
  background-color: #3a3f47 !important;
  color: white !important;
}

input:-moz-autofill {
  background-color: #3a3f47 !important;
  color: white !important;
}

input:-ms-autofill {
  background-color: #3a3f47 !important;
  color: white !important;
}

@media screen and (min-width: 512px) {
  .search-bar {
    display: none;
    &.tabbar-visible {
      display: flex;
      justify-content: center;
    }
    width: 50%;
    .search-form {
      width: 100%;
      justify-content: center;
      input {
        width: 100%;
      }
    }
  }
}
