.card.content-class {
  display: flex;
  width: 327px;
  height: min-content;

  .card-img-container {
    width: 95px;
    min-width: 95px;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
    img {
      width: 100%;
      height: 130px;
    }
  }

  .card-movie-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    .movie-title {
      margin-bottom: 10px;
      h3 {
        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          display: flex;
          align-items: center;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
    .card-movie-details {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .icon-container {
        display: flex;
        align-items: center;
      }
      .rating {
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: "Montserrat";
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0.12px;
        color: #ff8700;
      }

      .genres {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 400;
        color: #eeeeee;
      }

      .release-year {
        display: flex;
        align-items: center;
        gap: 5px;

        font-weight: 400;

        color: #eeeeee;
      }

      .movie-length {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 400;
        color: #eeeeee;
      }
    }
  }
}

.card.photo-class {
  img {
    width: 100px;
    height: 146px;
    border-radius: 16px;
  }
}

@media screen and (min-width: 512px) {
  .card.photo-class {
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    img {
      width: 150px;
      height: 219px;
      border-radius: 16px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
