.page-padding {
  min-height: 100vh;
  padding: 30px;
  background-color: #242a32;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}

.lists-container {
  margin: 20px 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  width: 327px;
  height: 120px;

  .card-img-container {
    width: 95px;
    height: 120px;
    border-radius: 16px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  .card-movie-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    .movie-title {
      margin-bottom: 10px;
      h3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #ffffff;
      }
    }
    .card-movie-details {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .icon-container {
        display: flex;
        align-items: center;
      }
      .rating {
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: "Montserrat";
        font-weight: 600;

        line-height: 15px;
        letter-spacing: 0.12px;
        color: #ff8700;
      }

      .genres {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 400;
        color: #eeeeee;
      }

      .release-year {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 400;
        color: #eeeeee;
      }

      .movie-length {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 400;
        color: #eeeeee;
      }
    }
  }
}

@media screen and (min-width: 512px) {
  app-header {
    display: none;
  }
  app-watch-list-items {
    width: 100%;
  }
}
