<article class="reviews">
  <div *ngFor="let review of movieReviews" class="review">
    <div class="user">
      <div class="user-image">
        <img
          [src]="
            review.author_details.avatar_path
              ? 'https://image.tmdb.org/t/p/original/' +
                review.author_details.avatar_path
              : '../../../assets/images/placeholder-user-profile.jpg'
          "
          [alt]="
            review.author ? 'Poster for ' + review.author : 'Avatar placeholder'
          "
          loading="lazy"
        />
      </div>
      <div class="user-rating">
        <p>{{ review.author_details.rating }}</p>
      </div>
    </div>
    <div class="review-content">
      <h5 class="user-name">
        {{ review.author_details.name || review.author }}
      </h5>
      <p class="review-text" [ngClass]="{ expanded: review.expanded }">
        {{ review.content }}
      </p>
      <button class="expand-text-btn" (click)="toggleReview(review)">
        Read {{ review.expanded ? "less..." : "more...." }}
      </button>
    </div>
  </div>
</article>
