@media screen and (min-width: 512px) {
  .single-movie-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -150px;
    width: 60vw;
  }
  .title-area {
    display: flex;
    flex: row;
    align-items: end;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;

    .movie-poster {
      width: 170px;
      overflow: hidden;
      z-index: 99;
      img {
        width: 100%;
        border-radius: 16px;
      }
    }
    .title {
      display: flex;
      align-items: center;
      width: 50%;
      h2 {
        font-size: 25px;
      }
    }
  }
  .movie-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .content-list {
      width: 100%;

      article.content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        p {
          width: 80%;
        }
      }

      article.cast {
        width: 100%;
      }
    }
  }
}
