<div class="slider-container">
  <div class="slider">
    <div class="slide">
      <img src="../../../assets/images/img (1).jpg" alt="" />
      <span class="movie-rank">1</span>
    </div>

    <div class="slide">
      <img src="../../../assets/images/img (2).jpg" alt="" />
      <span class="movie-rank">2</span>
    </div>

    <div class="slide">
      <img src="../../../assets/images/img (3).jpg" alt="" />
      <span class="movie-rank">3</span>
    </div>
    <div class="slide">
      <img src="../../../assets/images/img (4).jpg" alt="" />
      <span class="movie-rank">4</span>
    </div>
    <div class="slide">
      <img src="../../../assets/images/img (5).jpg" alt="" />
      <span class="movie-rank">5</span>
    </div>
    <div class="slide">
      <img src="../../../assets/images/img (6).jpg" alt="" />
    </div>
    <div class="slide">
      <img src="../../../assets/images/img (7).jpg" alt="" />
    </div>
    <div class="slide">
      <img src="../../../assets/images/img (8).jpg" alt="" />
    </div>
    <div class="slide">
      <img src="../../../assets/images/img (9).jpg" alt="" />
    </div>
    <div class="slide">
      <img src="../../../assets/images/img (10).jpg" alt="" />
    </div>
  </div>
</div>
