.slider-container {
  display: flex;
  align-items: start;
  height: 260px;
  width: 337px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    height: 210px;
    margin-left: 10px;
  }
}
